body {
    font-size: 14px;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}


/*---------- Utils */

.spacer {
    flex-grow: 1;
}

.separator {
    width: 100%;
    height: 3px;
    background-color: black;
}

.hidden {
    opacity: 0;
}

.pad {
    padding-right: 5vw;
    padding-left: 5vw;
}


/* ----------Button */

button {
    background-color: transparent;
    color: black;
    font-weight: 400;
    transition: background-color .5s ease-in-out;
    border-radius: 25px;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: gray;
    opacity: .5;
}

button.inv {
    background-color: black;
    color: white;
}

button.inv:hover {
    background-color: transparent;
    color: black;
}


/* ----------Header */

header {
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    /* background-color: transparent; */
    margin-bottom: -65px;
    z-index: 500;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .1));
}

button.nav-opener {
    font-weight: 700;
    font-size: 20px;
}


/* ----------FrontPage */

.content {
    padding-right: 100px;
    padding-left: 100px;
}

.front-seg {
    background-image: url(../images/back2.jpg);
    background-size: cover;
    padding-bottom: 20px;
    /* background-color: red; */
    margin-top: 2vh;
    height: 95vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    width: 50vw;
    margin-top: 100px;
    margin-bottom: 5vw;
    /* height: 200px; */
}

@media screen and (max-device-width: 600px) {
    .front-seg {
        height: 100vh;
        padding-bottom: 0px;
    }
    .logo-container {
        width: 98vw;
        margin-top: 23vh;
        margin-bottom: 38vh;
    }
    body {
        font-size: 1.7rem;
    }
    h1 {
        font-size: 4rem;
    }
    .service-item {
        width: 67vw !important;
        margin-bottom: 10vh !important;
    }
    .seg>h1 {
        margin-bottom: 5vh !important;
    }
    button {
        font-size: 1.4rem !important;
    }
    .nav-opener {
        font-size: 2.2rem !important;
    }
    header {
        padding-top: 22px !important;
        padding-bottom: 22px !important;
    }
    .proc-diagram {
        display: none;
    }
    .who-desc {
        margin-right: 0px !important;
        text-align: center;
    }
    div.question {
        margin-top: 15vh !important;
        margin-bottom: 20vh !important;
    }
    .talk {
        font-size: 4vw !important;
        padding: 3vw;
        border-radius: 6vw;
    }
    .sub-title {
        text-align: center;
    }
    .footer-title {
        font-size: 1.4rem !important;
    }
    .footer-desc {
        font-size: 1.2rem !important;
    }
    .final-footer {
        margin-top: 14px !important;
    }
    .final-footer>img {
        width: 15vw !important;
    }
}


/* ----------Scrolling Text */

.scrolling-container {
    padding-top: 20px;
    position: relative;
    overflow: hidden;
    height: 40px;
}

.scrolling-text {
    text-transform: uppercase;
    font-size: 1.2rem;
    position: relative;
    transform: translate3d(0, 0, 0);
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 50s linear infinite;
}

@keyframes slideshow {
    0% {
        left: 0;
    }
    100% {
        left: -200%;
    }
}

.scrolling-sub {
    margin-right: 20px;
}

b.r {
    text-decoration: line-through;
}

b.a {
    text-decoration: underline;
}


/* ----------Who we are */

.seg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px
}

.seg>h1 {
    margin-bottom: 50px;
}

.who-seg>div {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}

.who-desc {
    margin-right: 80px;
    height: 100%;
}

.proc-diagram {
    width: 500px;
}

.services-seg {
    flex-wrap: wrap;
}

.services-seg>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.service-item>img {
    width: 100%;
}

.service-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -70px;
    margin-left: 20px;
}

.service-desc {
    margin-top: 50px;
}

.service-desc>u {
    font-weight: bold;
    margin-right: 10px;
}

div.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

div>button {
    font-size: 1.1rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.team-seg-container {
    background-color: rgb(246, 246, 246);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.team-seg {
    margin-top: 50px;
}

.team-seg>h1 {
    margin-bottom: 5px;
}

.team-seg>.sub-title {
    margin-bottom: 100px;
}

.team-seg>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: auto;
    margin-right: 50px;
    margin-bottom: 40px;
}

.member-desc {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: center;
}

.pfp {
    height: 90px;
    width: 90px;
    background-color: #808080;
    background-image: url(../images/profile2.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.member-desc>p {
    margin: 0px;
    display: flex;
    width: 180px;
}

.member-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px !important;
}

.member-desc {
    font-size: 1rem;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.top-footer {
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 30px;
    justify-content: space-between;
}

.footer-title {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3px;
}

.footer-desc {
    font-size: .8rem;
}

footer>.separator {
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.final-footer {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10px;
    opacity: .7;
}

.final-footer>img {
    width: 70px;
    filter: invert(100%);
}

.slide-up {
    transform: translateY(50px);
    opacity: 0;
    transition: .8s opacity ease-out;
    transition: .58 transform ease-out;
}

.slide-up.active {
    transform: translateY(0);
    opacity: 1;
}

.slide-up-anim {
    animation: slide-up 1s ease-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

.slide-down-anim {
    animation: slide-down 1s ease-out;
}

@keyframes slide-down {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}